<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindMate">
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity
            android:name=".v2.ui.views.V2AuthenticationActivity"
            android:exported="false"
            android:label="@string/title_activity_authentication"
            android:theme="@style/Theme.MindMate" />
        <activity
            android:name=".v1.ui.views.AuthenticationActivity"
            android:exported="false"
            android:label="@string/title_activity_authentication"
            android:theme="@style/Theme.MindMate" />
        <activity
            android:name=".v1.ui.views.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.MindMate" />
        <activity
            android:name=".v1.ui.views.JournalEntryActivity"
            android:exported="false"
            android:label="@string/title_activity_journal_entry"
            android:theme="@style/Theme.MindMate" />
        <activity
            android:name=".v1.ui.views.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MindMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v2.ui.views.V2DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_v2_dashboard"
            android:theme="@style/Theme.MindMate"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>